<?xml version="1.0" encoding="UTF-8"?>
<plugin title="cst" loader="DEFAULT">
  <overlays>
    <overlay id="startup.cst" resourcebundle="content/cst/resources/lang/messages">
      <menubar id="toolsmenu">
        <menubar id="cstMenu" layout="vertical" label="${Launcher.menugroup}">
          <menuitem id="cstEdit" label="${Launcher.menugroup.edit}" command="mantleXulHandler.openUrl('${Launcher.cst}','${Launcher.menugroup.edit_TOOLTIP}','plugin/cst/api/edit')"/>
          <menuitem id="cstLaunch" label="${Launcher.menugroup.launcher}" command="mantleXulHandler.openUrl('${Launcher.cst}','${Launcher.menugroup.launcher_TOOLTIP}','plugin/cst/api/launcher')"/>
        </menubar>
      </menubar>
    </overlay>
  </overlays>
  <lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
  <static-paths>
    <static-path url="/cst/static" localFolder="static"/>
    <static-path url="/cst/resources" localFolder="resources"/>
  </static-paths>
  <content-types>
    <content-type>
      <title>Cst</title>
      <description></description>
      <company name="" url="" logo="@PLUGIN_COMPANY_LOGO@"></company>
    </content-type>
  </content-types>
  <content-generator
    id="cst"
    title="Cst"
    type="cst"
    class="pt.webdetails.cpk.CpkContentGenerator"/>
  <!-- Menu entry -->
  <menu-items>
    <!--<menu-item id="cst_main" anchor="tools-submenu" label="Cst" command="content/cst/" type="MENU_ITEM" how="LAST_CHILD"/>-->
  </menu-items>
  <external-resources>
    <file context="mantle">api/repos/cst/resources/tabs.js</file>
  </external-resources>
</plugin>
